<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1px;
  background-color: rgb(53, 51, 51);
  color: white;
}
  </style>
</head>

<footer>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p>
            Copyright &copy; MCQ(Multiple Choice Question) Competitive Webapp - 2024 </p><br>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>
