{% extends "otp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    .group{
        width: 900px;
        height: auto;
        padding: 70px 70px 70px 70px;
        box-shadow: rgba(2, 225, 255, 0.945) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
        margin-top: 110px;
    }
    .group:hover{

        box-shadow: rgba(255, 4, 180, 0.945) 0px 5px 15px;
               
    }
    .group p{
        text-align: center;
        margin-top: 29px;
        color:rgb(0, 0, 0);
        font-size: 24px;
        font-weight: bold;
    }
    
    .group h3{
        text-align: center;
        color:rgb(247, 183, 10);
    }
   
    
</style>

<div class="group">

    <h3>Password Reset Sent</h3>
    <p> We'have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <br>
    <p>If you don't receive an email,please make sure you've entered the address you registered with, and check your spam folder</p>
</div>




{% endblock content %}