{% extends "otp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    form{
        width: 500px;
        height: auto;
        padding: 30px 30px 30px 30px;
        box-shadow: rgba(2, 225, 255, 0.945) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
        margin-top: 40px;
    }
    form:hover{

        box-shadow: rgba(255, 4, 180, 0.945) 0px 5px 15px;
               
    }
    form p{
        text-align: center;
        margin-top: 29px;
        color:white;
    }
    input:hover{

        box-shadow: rgba(10, 227, 243, 0.945) 0px 5px 15px;
               
    }
    form h3{
        text-align: center;
        color:rgb(247, 183, 10);
    }
    button:hover{
        box-shadow: rgba(241, 200, 235, 0.945) 0px 5px 15px;
    }
    .form-group{
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        color:white;
        font-size: 24px;
    }
    .form-group .p{
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        color:white;
        font-size: 24px;
    }
</style>

  

    <form method="POST">
      <h3>Change Password</h1>
      {% csrf_token %}

      <div class="form-group">
      
      {{ form|crispy }}
    </div>
      <center><button type="submit" class="btn" style="width:60%;border:1px solid rgba(5, 247, 187, 0.61);color:rgb(3, 3, 3);background-color:rgba(5, 247, 187, 0.61);">Submit</button></center>
    </form>
   
{% endblock %}