{% extends "otp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    .group{
        width: 900px;
        height: auto;
        padding: 70px 70px 70px 70px;
        box-shadow: rgba(2, 225, 255, 0.945) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
        margin-top: 110px;
    }
    .group:hover{

        box-shadow: rgba(255, 4, 180, 0.945) 0px 5px 15px;
               
    }
    .group p{
        text-align: center;
        margin-top: 29px;
        color:rgb(0, 0, 0);
        font-size: 24px;
        font-weight: bold;
    }
    .group:hover{

        box-shadow: rgba(10, 227, 243, 0.945) 0px 5px 15px;
               
    }
    .group h3{
        text-align: center;
        color:rgb(247, 183, 10);
    }
    .btn:hover{
        box-shadow: rgba(241, 200, 235, 0.945) 0px 5px 15px;
    }
    .btn{
        width: 120px;
        height: 40px;
    }
    
</style>

<div class="group">

    <h3>Password Reset Completed</h3>
    <p> Your password has been set. you may go ahead and log in now.</p>
    <br>
    <center><a href="{% url 'signin' %}" class="btn" <button class="btn" style="width:60%;border:1px solid rgba(5, 247, 187, 0.61);color:rgb(3, 3, 3);background-color:rgba(5, 247, 187, 0.61);">Login</a></center>
</div>




{% endblock content %}