{% extends 'otp/student/html/dashbase.html' %}
{% load widget_tweaks %}
{% block content %}


<div class="container my-4">
    

        <div class="row">

            <div class="card border-info mx-auto" style="font-size:19px;">
                <div class="card-body text-default">

                    <h4 class="card-title">Exam Details :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Course : {{course.course}}</li>
                            <li>Total Question : {{course.total_question}}</li>
                            <li>Total Marks : {{course.total_marks}}</li>
                            <li>Duration : {{course.duration}}</li>
                        </ul>
                    <p></p>
                    <h4 class="card-title">Rules :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>All questions are MCQ (multiple choice question)</li>
                            <li><span class="text-danger">Only one choice is correct among the given.</span></li>
                            <li>Every question carry different marks.</li>
                            <li>Try to answer ASAP.</li>
                            <li>If you PRESS refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as number of attempts.</li>
                            <li>Questions are presented randomly.</li>
                            <li>You will be able to view marks immediately once after you submit the answer.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn" style="border-radius:10px;font-size:22px;background:rgba(75, 14, 154, 1) 35%;color:white;">Enter Exam</a>
                </div>  
                <div class="card-footer">Best Of Luck, Students!</div>  
            </div>  
        </div>  
        

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}