{% load static %}
<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'assets/' %}"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>MCQ</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/fontawesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>

    <style>
      .navbar{
        background-color: #03fff2;
      }
      .menu-item.active {
        background-color: #0038eee7; /* Change the background color to indicate the active item */
      }
      
    </style>
    <script type="text/javascript"> 
      window.history.forward(); 
      function noBack() { 
          window.history.forward(); 
      } 
    </script>
  
  </head>
  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="color: rgba(5, 138, 247, 0.61);">
          {% if user.is_staff %}
          
          
          
          <div class="app-brand demo">
            <a href="{% url 'instdash' user.id %}" class="app-brand-link">              
              <span class="app-brand-text demo menu-text fw-bolder ms-2">{{ user.name }}</span>
            </a>
            {% endif %}
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item ">
              <a href="{% url 'dash' %}" class="menu-link">

                <i class='bx bxs-dashboard' style='color:#4b0e9a'  ></i>&nbsp;&nbsp;
                <div><b style="font-size:19px;">Admin Panel</b></div>
              </a>
            </li>      
              
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='bx bxs-user-account' style='color:#4b0e9a'  ></i>&nbsp;&nbsp;
                <div data-i18n="Account Settings"><b style="font-size:19px;">Profile</b></div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  
                  <a href="{% url 'instprofile' %}" class="menu-link">
                    <div data-i18n="Account"><b style="font-size:19px;">Update Profile</b></div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'update_mpin' %}" class="menu-link">
                    <div data-i18n="Notifications"><b style="font-size:19px;">Update Password</b></div>
                  </a>
                </li>
                
              </ul>
            </li>
           
            <li class="menu-item">
              <a href="{% url 'mcq_view' %}" class="menu-link">
                <i class='bx bx-list-minus' style='color:#4b0e9a'  ></i>&nbsp;&nbsp;
                <div data-i18n="Basic"><b style="font-size:19px;">MCQ Management</b></div>
              </a>
            </li>
            <!-- User interface -->
            
                <li class="menu-item">
                  <a href="{% url 'question_view' %}" class="menu-link">
                    <i class='bx bxs-book-bookmark' style='color:#4b0e9a'  ></i>&nbsp;&nbsp;
                    <div data-i18n="Badges"><b style="font-size:19px;">Question Bank</b></div>
                  </a>
                </li>
                
          </ul>
        </aside>
      
        

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  
                  
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      {% if user.user_profile %}
                      <img src="/media/{{user.user_profile}}" class="w-px-40 h-px-40 rounded-circle" >
                      {% else %}
                      <img src="{% static 'images/user.png' %}" class="w-px-40 h-px-40 rounded-circle">
                      {% endif %}
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            
                            <div class="avatar avatar-online">
                              {% if user.user_profile %}
                              <img src="/media/{{user.user_profile}}" class="w-px-40 h-px-40 rounded-circle" >
                              {% else %}
                              <img src="{% static 'images/user.png' %}" class="w-px-40 h-px-40 rounded-circle">
                              {% endif %}
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">{{ user.name }}</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'profile' %}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <form id="logoutForm" method="post">
                        {% csrf_token %}
                        <button class="dropdown-item" type="button" onclick="submitForm()"><i class="bx bx-power-off me-2"></i>Logout</button>
                      </form>
                    </li>
                  </ul>
                </li>
               
              </ul>
            </div>
          </nav>
          
{% block content %}
<!-- Text alignment -->

  
{% endblock content %}



<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>   
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>    
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script async defer src="https://buttons.github.io/buttons.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap4.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      $('#example').DataTable();
    })
      
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#best').DataTable();
      })
        
      </script>

      <script>
        function submitForm() {
            var form = document.getElementById('logoutForm');
            var xhr = new XMLHttpRequest();
            xhr.open(form.method, form.action, true);
            xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Redirect to login page
                    window.location.href = "{% url 'instlogin' %}";
                    // Replace current state to prevent going back
                    history.replaceState(null, null, "{% url 'instlogin' %}");
                } else {
                    console.error('Logout failed');
                }
            };
            xhr.onerror = function() {
                console.error('Request failed');
            };
            xhr.send(new FormData(form));
        }
        </script>
  </body>
</html>