{% extends 'otp/institution/dashbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .btn-primary{
            width: 20%;
            border: none;
            border-radius: 50px;
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
            
        }
        .form-control{
          color:black;
          font-size: 24px;
       }
       label{
         color:black;
         font-size: 24px;
      }
    </style>
</head><br><br>
<h2 style="text-align:center;">Add Question Bank</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}

    <div class="form-group">

        <label for="question">Category</label>
        {% render_field questionForm.category|attr:'required:true' class="form-control"  %}
        <br>
       

      <label for="question">Question</label>
      {% render_field questionForm.question|attr:'required:true' class="form-control" placeholder="Question" %}
        <br>
      
      <label for="option1">Option 1</label>
      {% render_field questionForm.option1|attr:'required:true' class="form-control" placeholder="option 1" %}
        <br>
      <label for="option2">Option 2</label>
      {% render_field questionForm.option2|attr:'required:true' class="form-control" placeholder="option 2" %}
        <br>
      <label for="option3">Option 3</label>
      {% render_field questionForm.option3|attr:'required:true' class="form-control" placeholder="option 3" %}
        <br>
      <label for="option4">Option 4</label>
      {% render_field questionForm.option4|attr:'required:true' class="form-control" placeholder="option 4" %}
        <br>
      <label for="answer">Correct Answer</label>
      {% render_field questionForm.answer|attr:'required:true' class="form-control" %}
      <br>
      <label for="explanation">Explanation</label>
      {% render_field questionForm.explanation|attr:'required:true' class="form-control" %}
    </div>
    <br> <br>

   <center> <button type="submit" class="btn" style="font-size:22px;background:rgba(75, 14, 154, 1) 35%;color:white;border-radius: 10px;">Submit</button></center>
  </form>
<br><br><br>
{% endblock content %}
